input,
textarea {
  -webkit-appearance: none;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
  -webkit-border-radius: 0;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input::-ms-clear {
  display: none;
}
input[type="password"]::-ms-reveal {
  display: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $form_input_border;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $form_input_border;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $form_input_border;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
*:first-child + html .clearfix {
  zoom: 1;
}
.cleaner {
  height: 0;
  line-height: 0;
  clear: both;
}
select.header_phone {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 1px;
  padding: 0 1.5rem 0 0;
}
.readme {
  width: 200px;
  @include rem(16);
  line-height: 22px;
  padding: 6px 0;
}
.buy_btn,
.readme {
  //display: block;
  background-color: $button_color_background;
  color: $white_text_color;
  text-align: center;
  border-radius: 2px;
  padding: 7px 16px;
  &:hover {
    background-color: $button_hover_color_background;
  }
}
.buy_btn {
  @include rem(14);
  line-height: 21px;
}
.filter_form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  select,
  input[type="text"] {
    border-radius: 4px;
    border: 1px solid $form_input_border;
    padding: 4px 10px;
    @include rem(14);
  }
  input[type="text"],
  input[type="submit"],
  select {
    height: 28px;
  }
  input[type="submit"] {
    padding: 0;
    width: 120px;
    @include rem(14);
  }
  input[type="text"] {
    margin-right: 50px;
  }
  select {
    margin-right: 20px;
    width: 190px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../assets/img/select_arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 10px;
    &:nth-child(2),
    &:nth-child(3) {
      background-color: $grey_input_background;
    }
  }
}
.call_form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  input[type="text"] {
    padding: 11px 16px;
  }
  input[type="submit"] {
    width: 150px;
  }
}
