* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sup,
sub,
tt,
var,
b,
u,
i,
center,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
thead,
tbody,
tfoot,
caption,
form,
fieldset,
legend,
input,
textarea,
select,
label,
applet,
object,
iframe,
audio,
video,
canvas,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
canvas {
  -ms-touch-action: double-tap-zoom;
}
[hidden] {
  display: none;
}
ul,
ol {
  list-style: none;
}
table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: hide;
}
a {
  text-decoration: none;
}
body {
  font-family: "Exo 2", sans-serif;
  // font-family: 'Roboto', sans-serif;
  min-width: 320px;
}
header {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
  padding-bottom: 27px;
  margin-bottom: 80px;
}
.container {
  width: 1160px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
