$main_color_background: #ffffff;
$top_header_background: #333333;
$cart_color_background: #ff391e;
$table_color_background: #f1f9ff;
$button_color_background: #5aa1e1;
$button_hover_color_background: #23527c;
$black_button_background: #24272b;

$table_border_color: #b8e1ff;
$link_color: #23527c;
$menu_link_color: #ffffff;
$menu_link_color-hover: rgba(90, 161, 225, 1);

$color_input_background: #fafafa;

$main_text_color: #333333;
$white_text_color: #ffffff;
$green_color: #34a853;
